<!DOCTYPE html>
<html>
<head>
    <title>API Request Example</title>
</head>
<body>
    <button onclick="sendRequest()">Відправити запит</button>
    <p id="response"></p>

    <script>
        function sendRequest() {
            var url = "https://dda9-176-105-198-211.ngrok-free.app/api/items/";

            fetch(url, {
                headers: {
                    "ngrok-skip-browser-warning": "true"
                }
            })
                .then(response => response.json())
                .then(data => {
                    var responseElement = document.getElementById("response");
                    responseElement.innerText = JSON.stringify(data, null, 2);
                })
                .catch(error => {
                    var responseElement = document.getElementById("response");
                    responseElement.innerText = "Помилка: " + error.message;
                });
        }
    </script>
</body>
</html>
